// PvDynamicDialog -> PrimeVue Aura DynamicDialog
.qpv-dynamicdialog__card {
  min-width: 18rem;
  background: var(--p-content-background);
  color: var(--p-content-color);
  border-radius: var(--p-content-border-radius);
}
